@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
:root {
    --bglink: rgba(0, 0, 0, 0.3);
    --darkbg: #FFF;
    --lightbg: #000;
    --lighter: #444;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7eadc;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header {
    font-size: 28px;
    padding: 10px 0;
    background-color: #f7eadc;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    color: #4d3b36;
}
.logo:hover,
.addProduct:hover{
    color: #4d3b36;
}
header input {
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
    max-width: 170px;
    border-radius: 20px;
    border: solid 0.1px #eb613b;
    
}

.addProduct {
    padding: 5px 10px;
    font-size: 14px;
    width: 150px;
    max-width: 150px;
    border-radius: 20px;
    border: solid 0.1px #eb613b;
    color: #f7eadc;
    background-color: #f98f6f;
    margin: 5px;
    display: flex;
    
}
.button-visualizar{
    padding: 5px 10px;
    font-size: 14px;
    width: 80px;
    max-width: 150px;
    border-radius: 20px;
    border: solid 0.1px #eb613b;  
    color: #f7eadc;
    background-color: #f98f6f;
    
}

nav {
    background-color: #f98f6f;
    color: #f7eadc;
    padding: 15px 0;
    
}

.nav-form{
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
ul li a {
    color: var(--darkbg);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
}
ul li.active a,
ul li:hover a{
    background: var(--bglink);
    text-decoration: none;
    color: #f7eadc;
}

.banner {
    height: 300px;
    background: var(--lighter);
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7eadc;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--lighter);
    margin-bottom: 30px;
}

h2 {
    color: #4d3b36;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.no-list {
    margin-bottom: 50px;
}
.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 30px auto;
}
.item {
    color: var(--lightbg);
}
.item--image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.item--name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.item--type,
.item--quantidade,
.item--value,
.item--color {
    font-size: 13px;
    color: var(--lighter);
    margin-bottom: 3px;
}

footer {
    border-top: 1px solid var(--lighter);
    padding: 20px 0 !important;
    text-align: center;
    font-size: 16px;
    color:#4d3b36
}

.my-custom-form {
    max-width: 500px; /* Define a largura máxima desejada */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
  }

@media (max-width: 900px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .banner {
        height: 200px;
        font-size: 29px;
    }
    h2 {
        font-size: 18px;
    }
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    header .container {
        flex-direction: column;
    }
    header input {
        max-width: 100%;
    }
    ul li a {
        padding: 5px 10px;
    }
    .list {
        grid-template-columns: 1fr;
    }
}