{{>partials/header}}
    <h2>Atualizar Produto</h2>
{{#results}}
<form method="POST" action="/editar-produto-action/{{results.id}}" class="container  my-custom-form" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label">Nome do Produto:</label>
    <input type="text" class="form-control" name="name" value="{{results.name}}">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Categoria:</label>
    <input type="text" class="form-control" name="category" value="{{results.category}}">
  </div>

  <div class="mb-3">
    <label class="form-label">Quantidade:</label>
    <input type="number" class="form-control" name="amount" value="{{results.amount}}">
  </div>

  <div class="mb-3">
    <label class="form-label">Valor R$:</label>
    <input type="text" class="form-control" name="value" value="{{results.value}}">
  </div>

  <div class="mb-3">
    <label class="form-label">Cor:</label>
    <input type="text" class="form-control" name="color" value="{{results.color}}">
  </div>

  <div class="mb-3">
    <label class="form-label" for="image">Imagem:</label>
    <input type="file" class="form-control" name="image" id="image" value="media/{{results.image}}">
  </div>

  <div class="btn-action">
  <button type="submit" class="btn btn-primary">Atualizar</button>
  <a type="button" href="/"class="btn btn-secondary">Cancelar</a>
  <div class="btn-deletar">
  <a type="button" href="/deletar-produto/{{id}}"class="btn btn-danger">Deletar</a>
  </div>
</div>
</form>
{{/results}}
<br>

{{>partials/footer}}