{{>partials/header}}
<!--<form action="/upload-action" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="image">Imagem:</label>
        <input type="file" class="form-control" name="image" id="image">
        <button type="submit" class="btn btn-primary">subir imagem</button>
      </div>
</form>